.start-btn {
  position: absolute;
  right: 0px;
  bottom: 0px;
  border: solid white 2px;
  display: flex;
  width: 200px;
  height: 64px;
  align-items: center;
  color: white;
  justify-content: center;
  cursor: pointer;
}